@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import 'https://fonts.googleapis.com/css?family=Open+Sans';
@import url(../css/responsive.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  letter-spacing: 1.5px;
}
.section__titulo {
  text-align: center;
  font-size: 40px;
  color: #FBA919;
}
.contenedor {
  margin: auto;
  width: 99%;
}
/*-------------------Estilos del header-------------------*/

.cont{
    display: flex;
    justify-content: flex-end
}
.bt-menu{
    width: 50px;
    float: right;
}

.bt-menu span{
    justify-content: center;
    margin: 10px;
    color: silver;
    font-size: 30px;
    cursor: pointer;
}


/*------------------Estilos del menu------------------*/

.MainMenu{
    height: 100vh;
    width: 300px;
    background-color: #a6e0d4;
    position: fixed;
    top:0;
    left: -100%;
}

.list{
    list-style: none;
    padding: 0px;
    margin: 0px;
    color: #1e3030;
    font-weight: 600;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

.list ul{
    text-decoration: none;
}

.list li{
    margin: 20px;
}

.list li:hover{
    cursor: pointer;
}

.line{
    height: 2px;
    width: 150px;
    background-color: #1e3030;
    margin-top: 10px;
    position: absolute;
    left: 50%;
    transform:  translate(-50%);
    transition: all .2s;
}

ul li:hover .line{
    width: 180px;
}

#logo{
    position: absolute;
    font-size: 10px;
    width: 50%;
    height: 50%;
    left: 50%;
    transform: translate(-50%);
    top: 20px
}

/* Estilos Contactos */

.contacto{
    width: 1050px;
    height: 530px;
    margin: 50px auto;
    display: flex;
}

.contacto .contact_info{
    margin-top: -80px;
    width: 38%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contacto .contact_info .info span{
    font-size: 90px;
    display: block;
    margin: 5px;
    text-align: center;
    color: #0c94e8;
    
}

.contacto .contact_info .info h2{
    display: block;
    text-align: center;
    font-size: 40px;
    margin: 5px 5px;
}

.contacto .contact_info .info h4{
    display: block;
    text-align: center;
    font-size: 25px;
    color: #1e3030;
    margin: 5px 5px;
}

.contacto .contact_info .mail span{
    margin-top: 10px;
    margin-right: 5px;
    font-size: 20px;
}

}

.contacto .contact_info .mail span{
    margin-top: 10px;
    margin-right: 5px;
    font-size: 20px;
}


.frm_contacto{
    width: 62%;
}

.frm_contacto .user_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
    margin-top: 75px;
}

.frm_contacto .user_info input, .frm_contacto .user_info textarea{
    width: 100%;
    padding: 8px 0px 5px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #1e3030;
    color: #1e3030;
    font-size: 18px;
    font-weight: 400;
}

.frm_contacto .user_info textarea{
    min-width: 100%;
    max-width: 100%;
    max-height: 100px;
}

.frm_contacto .user_info input[type="button"]{
    width: 180px;
    background: #0c94e8;
    padding: 10px;
    border: none;
    align-self: center;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 10px;
}

.frm_contacto .user_info input[type="button"]:hover{
    background: #17c1c9;
}

:focus{
    outline: none;
}




/* Estilos del footer */

li{
    list-style: none;
}

footer{
    background-color: #2ce02f;
    color: #1e3030;
    clear: both;
    width: 100%;
    height: auto;
    font-family: 'Barlow', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer .footer{
    -webkit-box-sizing: box-sizing;
    -moz-box-sizing: box-sizing;
    box-sizing: box-sizing;
    display: flex;
    justify-content: space-around;
}

footer .footer .copyright{
    font-size: 20px;
    text-align: center;
    
}

footer .footer .contenido{
    align-content: center;
    display: inline-flex;
    text-align: center;
    
}

footer .footer .contenido a{
    text-decoration: none;
    margin: auto 5px;
    
}

footer .footer .redes{
    font-size: 22px;
    align-content: center;
    text-decoration: none;
    
}

footer .footer .redes a{
    color: #1e3030;
    text-decoration: none;
}



@media(min-width:480px) {
  .logo {
    font-size: 40px;
  }
  
}


@media(min-width:1024px) {  
  .contenedor {
    width: 100%;
  }
  
  .nav {
    position: static;
    width: auto;
  }
  .menu {
    display: flex;
  }
  .icon-menu {
    display: none;
  }
  .menu__link {
    background: none;
    font-size: 20px;
  }
  .select {
    color: #fff;
    background: #0c94e8;
  
}

@media(min-width:1280px) {
  .contenedor {
    width: 100%;
  }
  
  .nav {
    position: static;
    width: auto;
<<<<<<< HEAD
  }
  .menu {
    display: flex;
  }
  .icon-menu {
    display: none;
  }
  .menu__link {
    background: none;
    font-size: 20px;
  }
  }
  .menu {
    display: flex;
  }
  .icon-menu {
    display: none;
  }
  .menu__link {
    background: none;
    font-size: 20px;
  }
  .select {
    color: #fff;
    background: #0c94e8;
  
}
}

    /*-----------------------------Aqui esta el wallpaper------- */
    
.banner{
	margin-top: -60px;
	position: relative;
	z-index: -1000;
	margin-bottom: 20px;
}

.banner__img{
	width: 100%;
	height: 50%;
}

.banner .contenedor{
	position: absolute;
	top: 50%;
	left:50%;
	transform: translateX(-50%) translateY(-50%);
	width: 100%;
	color: #000;
	text-align: Left;
	color: white;
	padding: 8px 5px;
}
    
    .banner__titulo{
        font-size: 4em;
    }
    
    .banner__txt{
        font-size: 1em;
    }

/*-----------------seccion del main-------------------*/
    
    .seccion_main{
        width: 100%;
        background: white;
        display: flex;
        flex-direction: column;
    }
    
    .superior{
        width: 100%;
        padding: 1em;
        display:flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .inferior{
        width: 100%;
        padding: 1em;
        display:flex;
        flex-direction: row;  
        justify-content: space-around;
    }
    
    .secciones{
        width:25%;
        padding: 1em;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    
    .titulo_secciones{
        font-size: 30px;
        margin:3px;
    }
    
    .imagen_secciones{
        width:100px;
    }

    .contenido_secciones{
        margin: 1px;
    }


    
    /*Seccion de funciones*/
    
    .funciones{
        width: 100%;
        padding:1em;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        background: white;
    }
    
    .funcionalidad{
        display: flex;
        flex-direction: row;
        padding: 1em;
        margin: auto;
        background: #fff;
        justify-content: space-around;
        align-content: center;
        align-items: center;
        max-width: 1000px;
    }
    
    .imagen_funcion{
        width: 20%;
        height: 20%;
        margin: 0px 30px;
    }
    
    .contenedor_texto{
        width: 70%;
        padding: 1em;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    
    .Titulo_funciones{
        font-size: 70px;
        margin: 20px;
    }
    
    

    