
        /*Responsive del main*/
@media (max-width: 360px) {
         .seccion_main{
            width: 100%;
            background: white;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }
        
        .superior{
            width: 100%;
            padding: 10px;
            display:flex;
            flex-direction: column;
            flex-wrap: wrap;
        }
    
        .inferior{
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 10px;
        }
        
        .imagen_secciones{
            width:30px;
        }
    }
    


@media (max-width: 1050px) {
        .seccion_main{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        
        .superior{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
            padding: 1em;
        }
    
    .inferior{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
            padding: 1em;
        }
        
    .secciones{
           width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            align-content: center;
            padding: 2em;
        }
    
    .adentro{
        width: 70%;
        padding: 1em;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
    
    .titulo_secciones{
        font-size: 30px;
        margin: 5px;
    }
        
        .imagen_secciones{
            width: 20%;
            margin: 0;
        }
 }
    
/*Responsive del Login*/
@media screen and (max-width:800px) {
    /*---------------Responsive del Login---------------*/
      .contenedor-1{
            width:80%;
            background: rgba(1,1,1,.8);
            padding: 20px;
            position: relative;
            color: white;
            top:95px;
            border-radius: 5px;
            overflow: hidden;
          
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            margin: auto;
            align-items: center;
            align-content: center;
        }

        h2{
            margin-left: 20px;
        }

        form{
            width: 100%;
            padding: 0px;
        }


         .texto{
             width: 90%;
             padding: 10px;
             font-family: sans-serif;
             font-size: 17px;
             border-radius: 5px;
             margin: 15px 0px;
        }

        .botoncito{
            width: 90px;
            background: #741111;
            border: 0;
            color: white;
            padding: 10px;
            margin-left: 10px;
        }

        .imagen{
            display: none;
            overflow: hidden;
        }

        .abajo{
            width: 80%;
            color: white;
            font-family: Open Sans, sans-serif;
            font-size: 12px;
            top:110px;
            position: relative;
            margin: auto;
        }

        h3 a{
            text-decoration: none;
            color: #0094ff;
        }

}