*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}

header{
    width: 100%;
    background: #1e3030;
    padding: 20px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    width:20%;
}

.imagen_logo{
    width:100%;
    vertical-align:top;
}

.btn-menu{
    display: none;
}

header .nave{
    width: 50%;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    
}

header .nave .menu-link{
    padding:20px;
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
    flex-grow: 1;
    text-align: center;
}


header .nave .menu-link:hover{
    background: #0c94e8;
    color: #fff;
}

/*-------------------------------- responsive design -----------------------*/


@media screen (max-width:760px){
    
}
